.input-ex-wrapper {
  position: relative;
  display: block;
}
.input-ex-wrapper input,
.input-ex-wrapper textarea {
  border: none;
  padding: 0 10px;
}
.input-ex-wrapper input::-ms-clear {
  visibility: hidden;
}
.input-ex-wrapper input::-ms-reveal {
  visibility: hidden;
}
.input-ex-wrapper input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.input-ex-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-ex-wrapper input::-webkit-clear-button {
  -webkit-appearance: none;
}
.input-ex-wrapper input::-webkit-datetime-edit-text {
  color: dimgray;
}
.input-ex-wrapper .label-wrapper {
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 1;
  transition: all .2s;
}
.input-ex-wrapper .label-wrapper.fixed,
.input-ex-wrapper .label-wrapper.active {
  top: -2em;
}
.input-ex-wrapper .cancel-btn {
  box-sizing: border-box;
  position: absolute;
  right: -1.5em;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  width: 1.2em;
  height: 1.2em;
  color: dimgray;
  border-radius: .6em;
  font-weight: 900;
  text-align: center;
  line-height: 1.2em;
  cursor: pointer;
}
.input-ex-wrapper .cancel-btn:hover {
  background: gray;
  color: white;
}
.input-ex-wrapper .cancel-btn.active {
  display: inline-block;
}
